$auth-color: #259df6;

.auth-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, rgba(149, 20, 255, 1) 0%, rgba(130, 80, 255, 1) 35%, rgba(37, 157, 246, 1) 63%, rgba(0, 232, 246, 1) 100%);

  .auth-card {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px 15px 10px 20px;
    box-shadow: 2px 2px 10px 6px rgba(63, 63, 63, 0.4);

    .auth-card-title {
      color: $auth-color;
    }

    .auth-input-group {
      input {
        border: 3px solid $auth-color;
        border-right: none;
        border-radius: 15px;
        color: $auth-color;

        &:focus {
          box-shadow: none;
        }

        &:-webkit-autofill {
          -webkit-text-fill-color: $auth-color !important;
        }
      }

      span {
        border: 3px solid $auth-color;
        border-left: none;
        background: $auth-color;
        color: #fff;
        border-radius: 0;
      }
    }
  }

  button[type="submit"] {
    margin-top: 24px;
    width: 100%;
    border-radius: 25px;
    height: 45px;
    background-image: linear-gradient(90deg, rgba(149, 20, 255, 1) 0%, rgba(130, 80, 255, 1) 35%, rgba(37, 157, 246, 1) 63%, rgba(0, 232, 246, 1) 100%);
    background-position: left;
    background-size: 150%;
    transition: all $transition-time ease-in;
    border: none;

    &:hover {
      background-size: 100%;
    }
  }
}
